<div class="chat {{classes}}">
    {{> avatar src=src classes=avatarClasses imageClasses=imageClasses}}
    <div class="chat__content">
        <div>
            <h2 class="chat__title">{{title}}</h2>
            <p class="chat__text">{{lastMessageContent}}</p>
        </div>
        <div class="chat__bages">
            <span class="chat__time">{{time}}</span>
            {{#if count}}<span class="chat__count">{{count}}</span>{{/if}}
        </div>
    </div>
</div>